#chrometranslate_panel {
	z-index: 9999;
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100px;
	background-color: #AAAAAA;
	border-color: black;
	border-top-style: solid;
	border-top-width: 2px;
}

#chrometranslate_panel_translated {
	padding: 5px;
	margin: 0;
	text-align: left;
	color: black;
	font-family:'Open Sans', arial, sans-serif;
	font-size: 16px;
	font-variant: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: none;
	text-indent: 0;
	line-height: normal;
}
